.modal-container {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}



.modal-container.show {
    opacity: 1;
    z-index: 10;
}

.modal-container>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateX(12rem) translateY(-1rem);
}